* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 500px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: grey;
}

#error-message {
    color:red;
    margin-top: 12px;
    font-size: 14px;
}
.converter-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.converter-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.converter-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
}

.converter-container input[type="number"],
.converter-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.converter-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.converter-container button:hover {
    background-color: grey;
}

#conversionResult {
    margin-top: 15px;
    font-size: 16px;
    color: green;
}

#error-message {
    color: red;
    margin-top: 12px;
    font-size: 14px;
}
